body{
	width:100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form{
	padding: 10px 20px;
	border:  2 solid rgba(0,0,0,0.2);
	border-radius: 40px;
}

form{
	display: flex;
	align-items: center;
	font-weight: 500;
	background: #ffffff;
}

input{
	border: none;
	outline: none;
}

.txt{
	width: 350px;
	height: 40px;
	font-size: 18px;
	columns: #999994;
}

.file{
	width: 40px;
	height: 40px;
	margin: 0 8px;
	cursor: pointer;
}

.file:before{
	content: '\f083';
	font-family: fontAwesome;
	font-size: 35px;
	color: #4f889c;
	line-height: 40px;
	margin-left: 2px;
}